

  /* css setup only for example */

  body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }

  h1, h2, p {
    padding-left:16px;
  }

  h2 {
    padding-top:16px;
  }

  footer {
    font-size:10px;
    margin:0 auto;
    padding-top:32px;
    width:200px;
    text-align:center;
  }

  /* salient css begins */

  /*a11y improvement*/

/*  div.base[aria-hidden="true"] {display: none;}*/

  .fourGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;

  }

  .fourGallery > .div1 { grid-area: 1 / 1 / 2 / 3; }
  .fourGallery > .div2 { grid-area: 1 / 3 / 2 / 4; }
  .fourGallery > .div3 { grid-area: 2 / 1 / 3 / 2; }
  .fourGallery > .div4 { grid-area: 2 / 2 / 3 / 4; }

  .fourGallery.flip > .div1 { grid-area: 1 / 1 / 2 / 2; }
  .fourGallery.flip > .div2 { grid-area: 1 / 2 / 2 / 4; }
  .fourGallery.flip > .div3 { grid-area: 2 / 1 / 3 / 3; }
  .fourGallery.flip > .div4 { grid-area: 2 / 3 / 3 / 4; }

  .fiveGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .fiveGallery > .div1 { grid-area: 1 / 1 / 3 / 3; }
  .fiveGallery > .div2 { grid-area: 1 / 3 / 2 / 4; }
  .fiveGallery > .div3 { grid-area: 3 / 1 / 4 / 2; }
  .fiveGallery > .div4 { grid-area: 3 / 2 / 4 / 3; }
  .fiveGallery > .div5 { grid-area: 2 / 3 / 4 / 4; }

  .fiveGallery.flip > .div1 { grid-area: 1 / 1 / 2 / 2; }
  .fiveGallery.flip > .div2 { grid-area: 1 / 2 / 3 / 4; }
  .fiveGallery.flip > .div3 { grid-area: 2 / 1 / 4 / 2; }
  .fiveGallery.flip > .div4 { grid-area: 3 / 2 / 4 / 3; }
  .fiveGallery.flip > .div5 { grid-area: 3 / 3 / 4 / 4; }

  .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .grid figure {
    display: block;
    margin: 0;

  }
  .grid figcaption {
    display: none;
  }

  .galleryCaption {
    max-width:680px;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #707070;
    padding: 0 0 24px 0;
    margin: 14px auto 24px auto;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: 
    url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjQzIiBoZWlnaHQ9IjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8bGluZSB4MT0iMCIgeTE9IjAiIHgyPSI0MyIgeTI9IjAiIHN0eWxlPSJzdHJva2U6cmdiKDEsNTgsMjA2LDEpO3N0cm9rZS13aWR0aDoyIiAvPgo8L3N2Zz4=");
  }

  /* salient css ends */

